<%-include('header');-%>
    <div class='box' id='heading'>
        <h1>Its <%= listTitle %>
        </h1>
    </div>
    <div class='box'>
        <% for (let i=0; i <=(items).length-1 ;i++){ %>
            <div class='item'>
                <input type="checkbox">
                <p>
                    <%= items[i] %>
                </p>
            </div>
            <% } %>
                <form action="/" method="post">
                    <input type="text" name="newitem" id="" placeholder="New Item" autocomplete="off">
                    <button name="list" value=<%=listTitle %> type="submit">+</button>
                </form>
    </div>
    <%-include('footer');-%>